* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

canvas {
  margin: 50px;
}

.container {
  border: 1px solid black;
  display: flex;
}

#game {
  border: 1px solid black;
  width: 400px;
}

#content {
  border: 1px solid black;
}